<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Vue bugtracker</title>
	<link rel="stylesheet" href="css/uikit.min.css">
</head>
<body>
	
<div id="app">
	<div class="uk-container">
		<nav class="uk-navbar-container" uk-navbar>
		    <div class="uk-navbar-left">
		        <ul class="uk-navbar-nav">
		        	<li>
		            	<router-link to="/">Главная</router-link>
		            </li>
		            <li>
		            	<router-link to="/task/create">Создать задачу</router-link>
		            </li>
		        </ul>
		    </div>
		</nav>
		<router-view></router-view>
	</div>
</div>

<template id="home">
	<div>
		<h3 class="uk-margin-top uk-margin-bottom">Главная</h3>
		<table class="uk-table uk-table-divider">
		    <thead>
		        <tr>
					<th class="uk-table-shrink">ID</th>
            		<th class="uk-table-expand">Название</th>
            		<th class="uk-width-small">Статус</th>
		        </tr>
		    </thead>
		    <tbody>
		        <tr is="task-line" v-for="task in this.$root.tasks" :task="task"></tr>
		    </tbody>
		</table>
	</div>
</template>

<template id="task-line">
	<tr>
	    <td>{{ task.id }}</td>
	    <td>{{ task.caption }}</td>
	    <td>
	    	<span class="uk-label" :class="'uk-label-' + task.status.value">{{ task.status.label }}</span>
	    </td>
	</tr>
</template>

<template id="task-create">
	<div>
		<h3 class="uk-margin-top uk-margin-bottom">Создать задачу</h3>
		<form class="uk-flex uk-flex-wrap uk-flex-right">
			<input type="text" class="uk-input" :class="{ 'uk-form-danger': fieldCheck.caption }" placeholder="Название задачи" v-model="content.caption">
			<select class="uk-select uk-margin-small-top" :class="{ 'uk-form-danger': fieldCheck.status }" v-model="statusTask">
				<option value="" disabled selected>Статус задачи</option>
				<option value="default/Новая">Новая</option>
				<option value="success/Готова">Готова</option>
			</select>
			<textarea class="uk-margin-small-top uk-textarea" :class="{ 'uk-form-danger': fieldCheck.desc }" rows="5" placeholder="Описание задачи" v-model="content.desc"></textarea>
			<button class="uk-button uk-button-primary uk-margin-small-top" @click.prevent="addTask">Создать</button>
		</form>
	</div>
</template>

<script src="js/vue.min.js"></script>
<script src="js/vue-router.min.js"></script>
<script src="js/uikit.min.js"></script>
<script>
	var taskLine = Vue.component("task-line", {
		props: ["task"],
		template: "#task-line"
	})

	var home = Vue.component("home", {		
		template: "#home"
	})

	var taskCreate = Vue.component("task-create", {
		template: "#task-create",
		data() {
			return {
				content: {
					caption: "",
					status: {
						value: "",
						label: ""
					},
					desc: ""
				},
				fieldCheck: {
					caption: false,
					status: false,
					desc: false
				}
			}
		},
		computed: {
			statusTask: {
				get() {
					if(this.content.status.value.length === 0 && this.content.status.label.length === 0) {
						return "";
					} else {
						return `${this.content.status.value}/${this.content.status.label}`
					}
				},
				set(status) {
					var data = status.split("/");

					this.content.status.value = data[0];
					this.content.status.label = data[1];

					console.log(this.content.status)
				}
			}
		},
		methods: {
			addTask() {
				if(this.content.caption.length === 0) {
					this.fieldCheck.caption = true;
					this.resetFieldStatus("caption");			
				}

				if(this.content.status.value.length === 0) {
					this.fieldCheck.status = true;
					this.resetFieldStatus("status");					
				}

				if(this.content.desc.length === 0) {
					this.fieldCheck.desc = true;
					this.resetFieldStatus("desc");				
				}

				if(this.content.caption.length > 0 
					&& this.content.status.value.length > 0
					&& this.content.desc.length > 0) {

					var task = {
						caption: this.content.caption,
						status: {
							value: this.content.status.value,
							label: this.content.status.label
						},
						desc: this.content.desc,
						id: this.$root.tasks.length + 1
					}

					this.$root.tasks.push(task);
					this.content.caption = "";
					this.content.status = {
						value: "",
						label: ""
					};
					this.content.desc = "";
				}

			},
			resetFieldStatus(field) {
				setTimeout(handler.bind(this), 500);

				function handler() {
					this.fieldCheck[field] = false;
				}
			}
		}
	})

	var routes = [
		{
			path: "/",
			component: home
		},
		{ 
			path: '/task/create', 
			component: taskCreate
		}
	]

	var router = new VueRouter({ 
		routes: routes 
	})

	var app = new Vue({
		el: "#app",
		data: {
			tasks: [
				{
					caption: "Apple",
					desc: "Яблоко",
					status: {
						value: "default",
						label: "Новая"
					},
					id: 1
				},
				{
					caption: "Banana",
					desc: "Банан",
					status: {
						value: "success",
						label: "Готова"
					},
					id: 2
				}
			]
		},
		router: router
	})
</script>
</body>
</html>